
body{
  background-image: url(img/background_init.jpg);
  
}

.sidebar_button_1{
   height: 65px;
   width: 175px;
   margin: 7px 0px 7px 0px;
   background-color: #DDDDDD;
   opacity: 0.75;
   transition: width 0.3s;
}
.sidebar_button_2{
   height: 65px;
   width: 175px;
   margin: 7px 0px 7px 0px;
   background-color: #EEEEEE;
   opacity: 0.75;
   transition: width 0.3s;
}

.sidebar_button_1:hover, 
.sidebar_button_2:hover{
   width: 200px;
}

.sidebar_button_1:active,
.sidebar_button_2:active{
   background-color: #88CCCC;
}

.sidebar_para{

}